<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.18.0" newVersion="0.1.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="oauth.RedirectUrl" value="http://localhost:2223/" />
    <add key="oauth.CallbackUrl" value="http://localhost:2223/auth/{0}" />
    <add key="oauth.yammer.ConsumerKey" value="rwKNTVw2idIza5XShMiQw" />
    <add key="oauth.yammer.ConsumerSecret" value="9e9X1kpJx96mA44nsBY6flCfsnyN7fgE7s9bmQVo" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
</configuration>